body {
    background-color: #952D33;
}

h1 {
    color: white;
}

#bingoBoard {
    background-color: black;
    border: white solid 5px;
}

.bingoSquare {
    color: white;
}

.active {
    background-color: green;
}

.utilBtn {
    background-color: black;
    color: white;
    border-color: white;
}

#themeToggleBtn {
    background-image: url("../img/eliv.png");
}