body {
    background-color: #FDAAAF;
}

h1 {
    color: black;
}

#bingoBoard {
    background-color: white;
    border: black solid 5px;
}

.bingoSquare {
    color: black;
}

.active {
    background-color: greenyellow;
}

.utilBtn {
    background-color: white;
    color: black;
    border-color: black;
}

#themeToggleBtn {
    background-image: url("../img/nwero.png");
}