* {
    font-family: 'First Coffee';
    user-select: none;
}

body {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    transition: inherit;
}

#bingoBoard {
    height: min(75vh, 75vw);
    width: min(75vh, 75vw);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    transition: inherit;
}

.bingoSquare {
    border: gray 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: inherit;
}

.bingoText {
    text-align: center;
}

.utilBtn {
    margin-top: 1vh;
    font-size: 20px;
    transition: inherit;
}

#themeToggleBtn {
    position: absolute;
    top: 0;
    right: 0;
    height: min(4vh, 4vw);
    width: min(4vh, 4vw);
    background-size: contain;
}

.themeTransition {
    transition: all 0.5s;
}

@font-face {
    font-family: "First Coffee";
    src: url("../font/First Coffee.otf") format("otf"),
        url("../font/First Coffee.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}